*~
black
plugged/
.netrwhist
akregatorrc
alacritty.yml
autostart
bash_alias
bleachbit
breezerc
bspwmrc
caja
caja-actions
clipit
colors
config.rasi
dconf
fish
geany
gtk-2.0
gtk-3.0
i3
kactivitymanagerd-statsrc
katepartrc
kateschemarc
katesyntaxhighlightingrc
katevirc
kcmdisplayrc
kcminputrc
kconf_updaterc
KDE
kded5rc
kdeglobals
keepassxc
kgammarc
kglobalshortcutsrc
khotkeysrc
klaunchrc
konsolerc
kscreenlockerrc
ksmserverrc
ksplashrc
kwalletrc
kwinrc
LICENSE
lxpanel
lxterminal
mate
menus
mimeapps.list
monitors.xml
nano
nautilus
neofetch
newsboat
nvim
openbox
pcmanfm
plasma-org.kde.plasma.desktop-appletsrc
plasmarc
plasmashellrc
pluma
polybar
powershell
pulse
README.md
spectaclerc
startupconfig
sxhkdrc
torbrowser
touchpadrc
Trolltech.conf
user-dirs.dirs
user-dirs.locale
vimrc
htop
xfce4
zshrc
